[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
alembic = "*"
flask-sqlalchemy = "*"
pytest = "*"
coverage = "*"
cryptography = "*"
waitress = "*"
pymysql = "*"
flask-cors = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
