{% extends 'base.html' %}

{% block content %}
{% raw %}
<div id="map"></div>
<div id="content">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-three-quarters"></div>
                <div class="column">
                    <div class="tile box is-vertical" id="main-content">
                        <div v-if="activeSite != null">
                            <h2 class="title is-two">{{ activeSite.name }}</h2>
                            <h3 class="subtitle is-four">{{ activeSite.location }}</h3>
                            <div v-if="user != null">
                                    <textarea
                                    v-model="activeSite.note.content"
                                    v-on:change="updateSite" class="textarea" placeholder="Take notes here."></textarea>
                                <button v-on:click="saveSite">submit</button>
                            </div>
                            <div v-else>
                                <textarea class="textarea" placeholder="Please login to take notes" disabled></textarea>
                            </div>
                          
                        </div>
                        <div v-else>
                            <h2 class="title is-two">No Dive Site Selected!</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endraw %}
{% endblock %}  